#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}


p {
   color: black;
   font-size:18px;
   font-family: Arial, Helvetica, sans-serif;
}

a { 
text-decoration:none; 
}

a:link {
  color: dark blue;
  text-decoration: none;
}

a:visited {
  color: light blue;
  text-decoration: none;
}

h1 {
		
  color: black;
  text-align: left-side;
  font-size: 35px; 
  font-family: Arial, Helvetica, sans-serif;
  
}

h2 {
	font-size:22px;
	font-family:  Arial, Helvetica, sans-serif;
	
}

h3{
	font-size:22px;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: none;
	padding-right: 30px; 
 
}

li{	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}

th, tr {
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

table{
	font-size:18px;
}

hr{ color:#d9d9d9;
}

.main {
  margin-right: 160px;  /* KEEP SAME AS SIDEBAR  WIDTH */
  margin-left: 30px; 
  margin-top: 30px; 
  margin-bottom:30px; 
  padding: 0px 10px;
}


.sidenav {
  height: 100%; 
  width: 160x;
  position: fixed; 
  z-index: 1; 
  top: 0; 
	right: 0;
  background-color: white;
  overflow-x: hidden; 
  padding-top: 10px;
  padding-left: 10px;
  text-align:center;
  font-size: 20px; 
  font-family: Arial, Helvetica, sans-serif;
  
}

iframe {
    margin: none;
    padding: none;
	border: none;
    }


